/** Add css rules here for your application. */

html{
	width: 980px;
	min-height: 450px;
	margin: auto;
}

body{
	margin: 0px !important;
}

h1{
	font-size: 35px;
	margin: 0px;
}

header{
	width: 100%;
	height: 60px;
	background: black;
	color: white;
	text-align: center;
}

nav{
	height: 30px;
	background: #c3c3c3;
}

nav a{
	margin-right: 10px;
	font-size: 15px;	
}

#content{
	min-height: 300px;
	width: 100%;
}

#content h1{
	font-size: 50px;
}
footer{
	background: #e3e3e3;
	text-align: center;
}

.tableHeader{
	font-weight: bold;
	font-size: 16px;
}

.h3{
	font-weight: bold;
	font-size: 1.17em;
	display: block;
}

table.operators{
	
}
table.operators tr:first-child td{
	font-weight: bold;
	font-size: 16px;
}
table.operators tr td{
	width: 150px;
}
table.operators tr td:nth-child(1),
table.operators tr td:nth-child(3){
	width: 50px;
}
